@media print {
    /* hide browser navigation elements */
    header, footer {
        display: none;
    }

    .print {
        display: unset !important;
    }

    button, .no-print {
        display: none !important;
    }

    #print_h1 {
        display: block !important;
    }

    main a {
        color: inherit !important;
    }

    table {
        border-collapse: collapse;
    }

    td, th, tbody {
        border: 1px solid black;
    }
    
    td, th {
        padding: 0.1em 0.25em;
        vertical-align: top;
    }

    .small-font {
        font-size: 0.8em;
    }
}
