# for documentation see
# https://docs.gitlab.com/ee/user/project/highlighting.html

*.pl  gitlab-language=Perl
*.pm  gitlab-language=Perl
*.t   gitlab-language=Perl
*.tt  gitlab-language=HTML
*.sql gitlab-language=SQL

/cpanfile                                          linguist-generated=true
/share/ddl/*/deploy/*/001-auto.sql                 linguist-generated=true
/share/ddl/*/deploy/*/001-auto-__VERSION.sql       linguist-generated=true
/share/ddl/*/upgrade/*-*/001-auto.sql              linguist-generated=true
/share/ddl/_source/deploy/*/001-auto.yml           linguist-generated=true
/share/ddl/_source/deploy/*/001-auto-__VERSION.yml linguist-generated=true

/root/static/lib/    linguist-vendored=true
