[% title = project.name %]

<script id="meals-dishes-editor-data" type="application/json">[% meals_dishes_editor_json | html %]</script>

<div class="meals-dishes-editor" data-meals-dishes-editor-json-id="meals-dishes-editor-data"></div>
