[% title = project.name;

load_page_specific_css();
js.push('/lib/coocook-web-components/dist/meals-dishes-editor/meals-dishes-editor.es.js');
%]

<script id="meals-dishes-editor-data" type="application/json">[% meals_dishes_editor_json | html %]</script>

<div class="meals-dishes-editor" data-meals-dishes-editor-json-id="meals-dishes-editor-data"></div>
