[% title = "Permissions" %]

<table class="table">
    <thead>
        <tr>
            <th scope="col">User/Organization</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
[% FOR permission IN permissions %]
        <tr>
            <td>
    [% IF permission.organization;
        link_organization(permission.organization, permission.organization_url);
    ELSIF permission.user;
        link_user(permission.user, permission.user_url);
    ELSE;
        THROW undef "permissions neither organization nor user";
    END %]
            </td>
            <td>
    [% IF permission.edit_url %]
                <form method="post" action="[% permission.edit_url %]" class="inline">
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                        <select name="role" class="form-select">
        [% FOR role IN roles %]
                            <option value="[% role %]" [% 'selected' IF permission.role == role %]>[% role %]</option>
        [% END %]
                        </select>
                        </div>
                        <div class="col-auto">
                        <input type="submit" value="Save" class="btn btn-primary">
                        </div>
                    </div>
                </form>
    [% ELSE %]
                [% permission.role %]
    [% END %]
            </td>
            <td>
                <div class="row g-2 align-items-center">
    [% IF permission.revoke_url %]
                    <div class="col-auto">
                        <form method="post" action="[% permission.revoke_url %]" class="inline">
                            <input type="submit" value="Revoke" class="btn btn-primary">
                        </form>
                    </div>
    [% END %]
    [% IF permission.make_owner_url %]
                    <div class="col-auto">
                        <form method="post" action="[% permission.make_owner_url %]" class="inline">
                            <input type="submit" value="Transfer ownership" class="btn btn-primary">
                        </form>
                    </div>
    [% END %]
                </div>
            </td>
        </tr>
[% END %]   
    </tbody>
</table>

[% IF add_permission_url %]
<div class="alert alert-warning">You need another user with role <em>admin</em> to transfer ownership to them.</div>

<div class="card">
    <div class="card-header"><h3 class="my-2">Add permission</h3></div>

<div class="card-body">

[% IF other_identities %]
    <p>Select the name of the other user (or organization). That’s the name they use to login and that is distinct on [% name %].</p>

    <form method="post" action="[% add_permission_url %]">
        <div class="row g-2 align-items-center">
            <div class="col-auto">
                <select name="id" class="form-select">
[% FOR other_identity IN other_identities %]
                    <option value="[% other_identity.name %]">[% other_identity.name; other_identity.is_organization ? '👥' : '👤' %]</option>
[% END %]
                </select>
            </div>
            <div class="col-auto">as</div>
            <div class="col-auto">
                <select name="role" class="form-select">
[% FOR role IN roles %]
                    <option value="[% role %]">[% role %]</option>
[% END %]
                </select>
            </div>
            <div class="col-auto">
                <input type="submit" value="Add" class="btn btn-primary">
            </div>
        </div>
    </form>
[% ELSE %]
    <p>No more users/organizations. You need to let users sign up or create organizations before giving them permission.</p>
[% END %]
</div>
[% END %]
