[% IF unit.id;
    escape_title( 'Unit', unit.long_name );
ELSE;
    title = "New unit";
END %]

<form method="post" action="[% create_url || update_url %]">
    <p>
        <label for="short_name">Short name:</label>
        <input  id="short_name" type="text" name="short_name" value="[% unit.short_name | html %]">
    </p>

    <p>
        <label for="long_name">Long name:</label>
        <input  id="long_name" type="text" name="long_name" value="[% unit.long_name | html %]">
    </p>

    <p>
        <input type="submit" value="Save">
    </p>
</form>

[% IF articles.exists %]
<h2>Where Unit <em>[% unit.long_name | html %]</em> is used ([% articles.size %] articles)</h2>

<ul>
[% FOR article IN articles %]
    <li><a href="[% article.url %]">[% article.name | html %]</a></li>
[% END %]
</ul>
[% END %]
