[% title = "Units";

# TODO This seems not to be used here. Obsolete?
USE SignificantDigits %]

<table class="table">
    <tr class="sticky-top bg-white" style="z-index:1011;">
        <th>Unit</th>
        <th>Conversions</th>
        <th>Actions</th>
    </tr>
    [% FOR unit IN units;
        conversions = unit.conversions || [undef];

        FOR conversion IN conversions;
            IF loop.first %]
            <tr>
                <td rowspan="[% unit.conversions.size %]">
                    <div class="sticky-top sticky-stacked bg-white" style="z-index:1010;">
                        <a href="[% unit.url %]">[% unit.short_name | html %] ([% unit.long_name | html %])</a>
                    </div>
                </td>
            [% END;

            IF conversion %]
                <td style="vertical-align: middle;">
                    [% display_value_unit(1, unit, {html=>1}) %]
                    =
                    [% display_value_unit(conversion.factor, conversion.unit, {html=>1}) %]
                    <span> | </span>
                    [% display_value_unit(1, conversion.unit, {html=>1}) %]
                    =
                    [% display_value_unit(1 / conversion.factor, unit, {html=>1}) %]
                </td>
            [% ELSE %]
                <td></td>
                <td></td>
            [% END;

            IF loop.first %]
                <td rowspan="[% unit.conversions.size %]" style="vertical-align: middle;">
                    [% IF unit.delete_url %]
                    <form action="[% unit.delete_url %]" method="post" class="d-inline">
                        <button class="btn btn-outline-danger btn-sm" type="submit" value="Delete">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </form>
                    [% END %]
                </td>
            [% END %]
            </tr>
        [% END;
    END %]
</table>

<div class="card mt-5">
    <div class="card-header">
        <h3 class="m-0">Add Unit</h3>
    </div>
    <div class="card-body">
        <form method="post" action="[% create_url %]" class="d-flex gap-2">
            <input id="short_name" type="text" name="short_name" placeholder="Short name" class="form-control" required>
            <input id="long_name" type="text" name="long_name" class="form-control" placeholder="Long name" required>
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
</div>

[% WRAPPER includes/infobox.tt %]
    A <b>unit</b> is a measurement quantity for an amount of an <b>article</b>.
    Units can be converted into other units by specifying a conversion factor between these.
[% END %]
