[% title = "Units" %]

[% new_unit = BLOCK %]
<p>
    <a href="[% new_url %]">New unit</a>
</p>
[% END;
new_unit %]

<table>
<tr>
<th>Unit</th>
<th colspan="2">Conversions</th>
<th>Actions</th>
</tr>
[% FOR unit IN units;
    conversions = unit.conversions || [undef];

    FOR conversion IN conversions;
        IF loop.first %]
<tr>
    <td rowspan="[% unit.conversions.size %]">
        <a href="[% unit.url %]">[% unit.short_name | html %] ([% unit.long_name | html %])</a>
    </td>
        [% END;

        IF conversion %]
    <td>
        1&thinsp;[% unit.short_name %]
        =
        [% conversion.factor %]&thinsp;[% conversion.unit.short_name %]
    </td>
    <td>
        [% 1 / conversion.factor %]&thinsp;[% unit.short_name %]
        =
        1&thinsp;[% conversion.unit.short_name %]
    </td>
        [% ELSE %]
    <td></td>
    <td></td>
        [% END;

        IF loop.first %]
    <td rowspan="[% unit.conversions.size %]">
            [% IF unit.delete_url %]
        <form action="[% unit.delete_url %]" method="post" class="inline">
            <input type="submit" value="Delete">
        </form>
            [% END %]
    </td>
        [% END %]
</tr>
    [% END;
END %]
</table>

[% new_unit %]
