[% escape_title( 'Recipe', recipe.name ) %]

<div class="content-box">
[% IF project_url %]
    <p>
        from project <a href="[% project_url %]">[% recipe.project.name | html %]</a>
     [% IF import_url %]
        <form method="get" action="[% import_url %]" class="inline">
            <input type="submit" value="Import" title="Import this recipe into one of your projects" class="btn btn-primary">
        </form>
    [% END %]
    </p>
[% ELSE %]
    <p>from a private project</p>
[% END %]

<form method="get" action="">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label for="servings" class="col-form-label">Servings:</label>
        </div>
        <div class="col-auto" style="width:100px;">
            <input type="number" name="servings" id="servings" min="1" value="[% servings %]" class="form-control">
        </div>
        <div class="col-auto">
            <input type="submit" value="Show" class="btn btn-primary">
        </div>
    </div>
</form>

<div>Tags:
<ul class="list-unstyled d-flex flex-wrap m-0">
[% FOR tag IN recipe.tags %]
    <li><span class="badge rounded-pill bg-secondary">[% tag.name | html %]</span></li>
[% END %]
</ul>
</div>
</div>

[% BLOCK ingredients_table;
    IF ingredients.size %]
<table class="table">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Article</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
[% FOR ingredient IN ingredients %]
        <tr>
            <td>[% display_value_unit( ingredient.value, ingredient.unit, {html=>1} ) %]</td>
            <td>[% ingredient.article.name | html %]</td>
            <td>[% ingredient.comment | html %]</td>
        </tr>
[% END %]
    </tbody>
</table>
    [% END;
END %]

[% USE Markdown %]

[% IF recipe.preparation OR prepared_ingredients.size %]
<div class="card my-4">
    <div class="card-header"><h3 class="my-2">Preparation</h3></div>
    <div class="card-body">
    [% PROCESS ingredients_table ingredients=prepared_ingredients %]

    [% recipe.preparation | markdown %]
    </div>
</div>
[% END %]

<div class="card my-4">
    <div class="card-header"><h3 class="my-2">Description</h3></div>
    <div class="card-body">
[% PROCESS ingredients_table ingredients=not_prepared_ingredients %]

[% recipe.description | markdown %]
    </div>
</div>