<div class="mt-2 alert alert-light border p-2">
    <p class="m-0 text-center">
    [%~ UNLESS icon.defined AND NOT icon ~%]
        <i class="material-icons">[% icon || 'info' %]</i>
    [%~ END;

    content ~%]
    </p>
</div>
