[% IF recipes_of_the_day.size == 1 %]
<h2>Recipe of the day</h2>

<a href="[% recipes_of_the_day.0.url %]">[% recipes_of_the_day.0.recipe.name | html %]</a>
[% ELSIF recipes_of_the_day.size > 1 %]
<h2>Recipes of the day</h2>

<ul class="list-unstyled d-flex flex-wrap gap-3">
[% FOR rotd IN recipes_of_the_day %]
    <li><a class="item-box text-white" href="[% rotd.url %]">[% rotd.recipe.name | html %]</a></li>
[% END %]
</ul>
[% END %]
